<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>buy</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.cn.easybuy.filter.myFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>doreg</servlet-name>
    <servlet-class>com.cn.easybuy.servlet.doReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doreg</servlet-name>
    <url-pattern>/doReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkuser</servlet-name>
    <servlet-class>com.cn.easybuy.servlet.checkUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkuser</servlet-name>
    <url-pattern>/checkUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCategory</servlet-name>
    <servlet-class>com.cn.easybuy.servlet.addCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCategory</servlet-name>
    <url-pattern>/addCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateParent</servlet-name>
    <servlet-class>com.cn.easybuy.servlet.UpdateParent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateParent</servlet-name>
    <url-pattern>/UpdateParent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCategory</servlet-name>
    <servlet-class>com.cn.easybuy.servlet.UpdateCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCategory</servlet-name>
    <url-pattern>/UpdateCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addProduct</servlet-name>
    <servlet-class>com.cn.easybuy.servlet.addProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addProduct</servlet-name>
    <url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>com.cn.easybuy.servlet.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateUser</servlet-name>
    <servlet-class>com.cn.easybuy.servlet.updateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUser</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsUpdateServlet</servlet-name>
    <servlet-class>com.cn.easybuy.servlet.NewsUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsUpdateServlet</servlet-name>
    <url-pattern>/NewsUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.cn.easybuy.servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/NewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsDeleteServlet</servlet-name>
    <servlet-class>com.cn.easybuy.servlet.NewsDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsDeleteServlet</servlet-name>
    <url-pattern>/NewsDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.cn.easybuy.servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageUpdateServlet</servlet-name>
    <servlet-class>com.cn.easybuy.servlet.MessageUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageUpdateServlet</servlet-name>
    <url-pattern>/manage/MessageUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageDeleteServlet</servlet-name>
    <servlet-class>com.cn.easybuy.servlet.MessageDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageDeleteServlet</servlet-name>
    <url-pattern>/manage/MessageDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCart</servlet-name>
    <servlet-class>com.cn.easybuy.servlet.addCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCart</servlet-name>
    <url-pattern>/addCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doLog</servlet-name>
    <servlet-class>com.cn.easybuy.servlet.doLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doLog</servlet-name>
    <url-pattern>/doLog</url-pattern>
  </servlet-mapping>
</web-app>